<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <link rel="stylesheet" href="css/index.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="main">
            <div class="greeting">
                <div class="text_box">
                    <p class="greeting_text">시작하기 전</p>
                    <p class="greeting_text">정보를 입력해주세요!</p>
                </div>
            </div>
            <form name="profile" method="post" action="/login">
                <div class="name_input" id="name">
                    <p class="info">이름</p>
                    <input type="text" class="input_text" placeholder="이름을 입력해주세요." name="name">
                    <button class="next" onclick="shownext('#school')" type="button">다음</button>
                </div>
                <div class="name_input" id="school">
                    <p class="info">재학중인 학교의 이름을 입력해주세요.</p>
                    <select class="sel" name="school_kind">
                        <option value="high">고등학교</option>
                        <option value="middle">중학교</option>
                        <option value="elementary">초등학교</option>
                    </select>
                    <input type="text" class="input_text" placeholder="학교를 입력해주세요." name="school">
                    <button class="next" onclick="shownext('#grade')" type="button">다음</button>
                </div>
                <div class="name_input" id="grade">
                    <p class="info">본인의 학년을 선택해주세요.</p>
                    <select class="sel" name="grade" id = "grade_sel">
                        <option value="1">1학년</option>
                        <option value="2">2학년</option>
                        <option value="3">3학년</option>
                    </select>
                    <button class="next" onclick="shownext('#submit')" type="button">다음</button>
                </div>
                <div class="name_input" id="submit">
                    <button class="next" type="submit">제출</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        function shownext(next){
            if (next == "#grade" && document.querySelector(".sel").value == "elementary"){
                console.log('dd')
                let selectEl = document.querySelector("#grade_sel");
                var objOption4 = document.createElement("option");
                objOption4.text = 4 + "학년";
                objOption4.value = 4;
                selectEl.options.add(objOption4);
                var objOption5 = document.createElement("option");
                objOption5.text = 5 + "학년";
                objOption5.value = 5;
                selectEl.options.add(objOption5);
                var objOption6 = document.createElement("option");
                objOption6.text = 6 + "학년";
                objOption6.value = 6;
                selectEl.options.add(objOption6);
            }
            document.querySelector('#name').style.display='none';
            document.querySelector('#school').style.display='none';
            document.querySelector('#grade').style.display='none';
            document.querySelector(next).style.display='block';
        }
    </script>
</body>
</html>