<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <link rel="stylesheet" type="text/css" href="css/picture_select.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="main">
            <div class="greeting">
                <div class="text_box">
                    <p class="greeting_text">사진을 선택해주세요</p>
                </div>
            </div>
            <div class="menu">
                <form action="/image_select_qu" method="post">
                    <button class="picture" onclick="submit" style="background-image: url('/images/social_3.png')" name="image" value="/images/social_3.png"></button>
                    <button class="picture" onclick="submit" style="background-image: url('/images/social_4.png')" name="image" value="/images/social_4.png"></button>
                    <button class="picture" onclick="submit" style="background-image: url('/images/social_5.png')" name="image" value="/images/social_5.png"></button>
                    <button class="picture"></button>
                    <button class="picture"></button>
                    <button class="picture"></button>
                    <button class="picture"></button>
                    <button class="picture"></button>
                    <button class="picture"></button>
                    <button class="picture"></button>
                    <button class="picture"></button>
                    <button class="picture"></button>
                    <button class="picture"></button>
                    <button class="picture"></button>
                    <button class="picture"></button>
                    <button class="picture"></button>
                    <button class="picture"></button>
                    <button class="picture"></button>
                    <button class="picture"></button>
                </form>

            </div>
        </div>
    </div>

</body>
</html>