<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <link rel="stylesheet" type="text/css" href="css/solution.css">

    <title>Document</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="/JS/gpt_ajax.js"></script>
    <script src="/JS/chat_qna_ajax.js"></script>
    <div class="container">
        <div class="main">
            <p class="sub_head">문제해설</p>
            <div class="gpt_text">
                <p id="gpt_res">처리중...</p>
            </div>
            <p class="sub_head">질의응답</p>
            <div class="qna_res" id="qna_section">
            </div>
            <div class="qna_input">
                <input id="input" placeholder="Please enter text" type="text" class="qna">
                <button class="input_btn" type="button" onclick="chat_qna_ajax()">send</button>
            </div>
        </div>
    </div>
    <script>
        window.onload=function(){
            gpt_ajax();
        }
    </script>

</body>

</html>